.idea/
.vscode/
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
env/
venv/
ENV/
.env
.venv
*.log
*.out
*.err
*.sqlite3
*.sqlite
*.db
*.h5
*.hdf5
*.npy
*.npz
*.pkl
*.pickle
*.csv
*.tsv
*.xlsx
*.xls
*.pyd
*.pyo
*.pdb
*.coverage
htmlcov/
coveragerc
*.cover
*.code-workspace
*.sublime-project
*.sublime-workspace
*.DS_Store
*.bak
*.tmp
*.swp
*.swo
data/
plots/
